# Backend
backend/SkyExchange/bin/
backend/SkyExchange/obj/

# Frontend
frontend/sky-exchange/node_modules/
frontend/sky-exchange/.next/

# Env
frontend/sky-exchange/.env.local

# IDE
.vs/
.vscode/
*.user
